  body{
      background-color: #AFF1B0;
    }
.mainList{
  background-color: #49E4DB;
   border: double;
    border-style: outset;
}

.clsList{
      background-color: #9FE44F;
      font-style: 45px;
    border: double;
    border-style: outset;
    width: 200px;
    height: auto;

    }

.notDone{
      color: #271A1A;
    }

    .done{
      color: #E11919;
      text-decoration: line-through;

    }

    .checkClass{
      width: 60px;
      height: 20px;
    }

